<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Output Behaviour</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="{{ url_for('static', filename = 'assets/css/style.css')}}" rel="stylesheet">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"/>

  <style>
    .heading
    {
      color: black;
      animation-name: example;
      animation-duration: 10s;
    }
    @keyframes example {
      10% {color: black;}
      20% {color: red;}
      30% {color: yellow;}
      40% {color: orange;}
      50% {color: aqua;}
      60% {color: goldenrod;}
      70% {color: green;}
      80% {color: purple;}
      90% {color: pink;}
      100% {color: black;}
    }
  </style>

</head>

<body>

  <h1 style="margin-top:2.1%;margin-left:13%" class="font-semibold text-black leading-relaxed"><a href="/">PMS</a></h1>

  <center>
  <h1 style="margin-bottom:4%;margin-top:14%" class="heading sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">{{result}}</h1>
  </center>

  <script src="{{ url_for('static', filename = 'assets/js/main.js')}}"></script>

  <footer class="text-gray-700 body-font" style=" position:fixed; left: 0; bottom: 0;width: 100%; text-align: center;">
    <div class="bg-gray-200">
      <div
        class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col"
      >
      <a
          class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"
            ></path>
          </svg>
          <span class="ml-3 text-xl">Prison Management System</span>
        </a>
        <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4">
          © 2022 — Akshat , Kartikeya, Pratyush, Priadarshini, Rishit, Shruti
        </p>
        <span
          class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
        >
          <a class="text-gray-500"> Made with ❤️ </a>
        </span>
      </div>
    </div>
  </footer>

</body>

</html>
